@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #f1f1f1;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

@layer components {
    .inputAutofill {
        &:-webkit-autofill {
            box-shadow: 0 0 0 30px rgb(156 163 175 / 0.5) inset;
        }

        &:-webkit-autofill:hover {
            box-shadow: 0 0 0 30px rgb(156 163 175 / 0.5) inset;
        }

        &:-webkit-autofill:focus {
            box-shadow: 0 0 0 30px rgb(156 163 175 / 0.5) inset;
        }

        &:-webkit-autofill:active {
            box-shadow: 0 0 0 30px rgb(156 163 175 / 0.5) inset;
        }
    }
}

.BackgroundVisible {
    display: flex;
    animation: changeColor 200ms linear;
}

.BackgroundInvisible {
    display: none;
    animation: changeColor2 200ms linear;
}

@keyframes changeColor {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes changeColor2 {
    0% {
        display: flex;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

.loader-anim {
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
