#qrCodeContainer {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 7px;
    overflow: hidden;
}

#qr-shaded-region {
    border-width: 50px !important;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto !important;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}
